<div class="container topbar">
    <div class="logo_wrapper fade_out"><span class="company_name"></span></div>
    <div>
        <a class="download_button topside">Установить</a>
        <div class="topside_buttons"><span class="google_play"></span><span class="app_store"></span></div>
    </div>
</div>
<div class="container container_guy">
    <div class="guy_block">
        <span class="guy_bg"></span>
        <img src="/images/elements/guy.png" class="guy fade_out" />
        <div class="card card_coin fade_out">
            <div class="card_coin_bg"></div>
            <img src="/images/elements/coin.png"/>
            <div>От 0,0 ₽</div>
            <div>Вы платите только за успех</div>
        </div>
        <div class="card card_clocks fade_out">
            <div class="card_clocks_bg"></div>
            <img src="/images/elements/clocks.png"/>
            <div>60 мин</div>
            <div>Сэкономленного времени в день</div>
        </div>
        <div class="card card_percent fade_out">
            <div class="card_percent_bg"></div>
            <img src="/images/elements/percent.png"/>
            <div>+51,9%</div>
            <div>Средняя годовая доходность</div>
        </div>
    </div>
    <div class="install_block">
        <h2><span class="highlight">Инвестируйте легко</span> и получайте доход <span class="highlight">+51,9%</span> <span class="annual" data-tooltip="Общий показатель по среднегодовой доходности стратегий">годовых</span></h2>
        <div class="text">Выбирайте стратегии успешных трейдеров и копируйте сделки в авторежиме. Заработайте легко и с минимальными рисками через мобильное приложение CopyBro.</div>
        <div class="install_block_buttons">
            <a class="download_button store google fade_out"><span class="google_play_full"></span></a>
            <a class="download_button store apple fade_out"><span class="app_store_full"></span></a>
            <a class="download_button desktop fade_out">Установить приложение</a>
        </div>
    </div>
</div>
<div class="container container_hourglass">
    <div class="hourglass_lupa">
        <img src="/images/elements/lupa.png" class = "lupa fade_out"/>
        <img src="/images/elements/hourglass.png" class="hourglass fade_out"/>
    </div>
    <div class="autoresearch">
        <h2>Автоследование: <span class="highlight">минимальные риски,</span> оптимальная доходность</h2>
        <div class="text">Мы собрали для вас лучшие торговые стратегии с подтвержденными данными по прошлым сделкам и их доходности.</div>
        <div class="text">Трейдер ежедневно следит за динамикой рынка, совершая сделки и балансируя риски и доходность стратегии.</div>
    </div>
</div>