<div class="container topbar">
    <div class="logo-wrapper"><span class="logo"></span><span class="company-name"></span></div>
    <div>
        <a class="download-button topside">Установить</a>
        <div class="topside-buttons"><span class="google-play"></span><span class="app-store"></span></div>
    </div>
</div>
<div class="container container-guy">
    <div class="guy_block">
        <span class="guy-bg"></span>
        <img src="../images/elements/Guy.png" class="guy" />
        <div class="card card_coin">
            <div class="card_coin-bg"></div>
            <img src="../images/elements/Coin.png"/>
            <h4>От 0,0 ₽</h4>
            <p>Вы платите только за успех</p>
        </div>
        <div class="card card_clocks">
            <div class="card_clocks-bg"></div>
            <img src="../images/elements/Clocks.png"/>
            <h4>60 мин</h4>
            <p>Сэкономленного времени в день</p>
        </div>
        <div class="card card_percent">
            <div class="card_percent-bg"></div>
            <img src="../images/elements/Percent.png"/>
            <h4>+51,9%</h4>
            <p>Средняя годовая доходность</p>
        </div>
    </div>
    <div class="install_block">
        <h2><span class="highlight">Инвестируйте легко</span> и получайте доход <span class="highlight">+51,9%</span> <span class="annual" data-tooltip="Общий показатель по среднегодовой доходности стратегий">годовых</span></h2>
        <p>Выбирайте стратегии успешных трейдеров и копируйте сделки в авторежиме. Заработайте легко и с минимальными рисками через мобильное приложение CopyBro.</p>
        <div class="install_block-buttons">
            <a class="download-button store google"><span class="google-play"></span>Google Play</a>
            <a class="download-button store apple"><span class="app-store"></span>App Store</a>
            <a class="download-button desktop">Установить приложение</a>
        </div>
    </div>
</div>
<div class="container container-hourglass">
    <div class="hourglass-lupa">
        <img src="../images/elements/Lupa.png" class = "lupa"/>
        <img src="../images/elements/Hourglass.png" class="hourglass"/>
    </div>
    <div class="autoresearch">
        <h2>Автоследование: <span class="highlight">минимальные риски,</span> оптимальная доходность</h2>
        <p>Мы собрали для вас лучшие торговые стратегии с подтвержденными данными по прошлым сделкам и их доходности.</p>
        <p>Трейдер ежедневно следит за динамикой рынка, совершая сделки и балансируя риски и доходность стратегии.</p>
    </div>
</div>