<div class="container topbar">
    <div class="logo_wrapper"><span class="logo"></span><span class="company_name"></span></div>
    <div>
        <a class="download_button topside">Установить</a>
        <div class="topside_buttons"><span class="google_play"></span><span class="app_store"></span></div>
    </div>
</div>
<div class="container container_guy">
    <div class="guy_block">
        <span class="guy_bg"></span>
        <img src="/images/elements/guy.png" class="guy" />
        <div class="card card_coin">
            <div class="card_coin_bg"></div>
            <img src="/images/elements/coin.png"/>
            <div class="header">От 0,0 ₽</div>
            <div class="text">Вы платите только за успех</div>
        </div>
        <div class="card card_clocks">
            <div class="card_clocks_bg"></div>
            <img src="/images/elements/clocks.png"/>
            <div class="header">60 мин</div>
            <div class="text">Сэкономленного времени в день</div>
        </div>
        <div class="card card_percent">
            <div class="card_percent_bg"></div>
            <img src="/images/elements/percent.png"/>
            <div class="header">+51,9%</div>
            <div class="text">Средняя годовая доходность</div>
        </div>
    </div>
    <div class="install_block">
        <h2><span class="highlight">Инвестируйте легко</span> и получайте доход <span class="highlight">+51,9%</span> <span class="annual" data-tooltip="Общий показатель по среднегодовой доходности стратегий">годовых</span></h2>
        <div class="text">Выбирайте стратегии успешных трейдеров и копируйте сделки в авторежиме. Заработайте легко и с минимальными рисками через мобильное приложение CopyBro.</div>
        <div class="install_block_buttons">
            <a class="download_button store google"><span class="google_play"></span>Google Play</a>
            <a class="download_button store apple"><span class="app_store"></span>App Store</a>
            <a class="download_button desktop">Установить приложение</a>
        </div>
    </div>
</div>
<div class="container container_hourglass">
    <div class="hourglass_lupa">
        <img src="/images/elements/lupa.png" class = "lupa"/>
        <img src="/images/elements/hourglass.png" class="hourglass"/>
    </div>
    <div class="autoresearch">
        <h2>Автоследование: <span class="highlight">минимальные риски,</span> оптимальная доходность</h2>
        <div class="text">Мы собрали для вас лучшие торговые стратегии с подтвержденными данными по прошлым сделкам и их доходности.</div>
        <div class="text">Трейдер ежедневно следит за динамикой рынка, совершая сделки и балансируя риски и доходность стратегии.</div>
    </div>
</div>